<configuration debug="false" scan="true" scanPeriod="10 seconds">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %-10contextName %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>dbwebview.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>dbwebview.%d{yyyy-MM-dd}.log</fileNamePattern>

      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    
    <encoder>
      <pattern>%date %level [%thread] %-10contextName %logger [%file:%line] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="ch.qos" level="WARN" />
  <logger name="org.slf4j" level="WARN" />
  <logger name="org.eclipse" level="WARN" />
  <logger name="com.mchange" level="WARN" />

  <root level="DEBUG">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
